@{
    ViewBag.Title = "BarChart";
}

<h2>BarChart</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charts</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>

    <script src="~/Scripts/Chartbundle.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <script>
    var barChartData =
        {
            labels: [@Html.Raw(ViewBag.Productname_List)],

            datasets: [{
                label: 'ProductWise Sales Count',
                backgroundColor: [
                    "#f990a7",
                    "#aad2ed",
                    "#9966FF",
                    "#99e5e5",
                    "#f7bd83",
                ],
                borderWidth: 2,
                data: [@ViewBag.MobileCount_List]
            }]
        };

    window.onload = function () {
        var ctx1 = document.getElementById("barcanvas").getContext("2d");
        window.myBar = new Chart(ctx1,
            {
                type: 'bar',
                data: barChartData,
                options:
                    {
                        title:
                        {
                            display: true,
                            text: "ProductWise Sales Count"
                        },
                        responsive: true,
                        maintainAspectRatio: true
                    }
            });
    }


   
    var barChartData = {
        //labels: ["January", "February", "March", "April", "May", "June", "July"],
        labels: [@Html.Raw(ViewBag.Productname_List)],
        datasets: [{
            label: 'Dataset 1',
            backgroundColor: window.chartColors.red,
            stack: 'Stack 0',
            //data: [
            //    randomScalingFactor(),
            //    randomScalingFactor(),
            //    randomScalingFactor(),
            //    randomScalingFactor(),
            //    randomScalingFactor(),
            //    randomScalingFactor(),
            //    randomScalingFactor()
            //]
            data: [@ViewBag.MobileCount_List]
        }
        //, {
        //    label: 'Dataset 2',
        //    backgroundColor: window.chartColors.blue,
        //    stack: 'Stack 0',
        //    data: [
        //        randomScalingFactor(),
        //        randomScalingFactor(),
        //        randomScalingFactor(),
        //        randomScalingFactor(),
        //        randomScalingFactor(),
        //        randomScalingFactor(),
        //        randomScalingFactor()
        //    ]
        //}
        //, {
        //    label: 'Dataset 3',
        //    backgroundColor: window.chartColors.green,
        //    stack: 'Stack 1',
        //    data: [
        //        randomScalingFactor(),
        //        randomScalingFactor(),
        //        randomScalingFactor(),
        //        randomScalingFactor(),
        //        randomScalingFactor(),
        //        randomScalingFactor(),
        //        randomScalingFactor()
        //    ]
        //}
        ]

    };
    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                title: {
                    display: true,
                    text: "Overall Campaigns Created"
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        display: true,
                        text: "Campaigns ",
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    };

    //document.getElementById('randomizeData').addEventListener('click', function () {
    //    barChartData.datasets.forEach(function (dataset, i) {
    //        dataset.data = dataset.data.map(function () {
    //            return randomScalingFactor();
    //        });
    //    });
    //    window.myBar.update();
    //});

    </script>
</head>
<body>
    @*<div style="text-align: center " >
        <canvas id="barcanvas"></canvas>
    </div>*@
    @*<div style="text-align: center">
        Disclaimer:- This data is for demo it is
        not real data it wont relate to any company
    </div>*@

    <div style="width: 75%;" class="col-6" >
        <canvas id="canvas"></canvas>
    </div>

    <div style="width: 75%;height:400px" class="col-6">
        @*<canvas id="canvas"></canvas>*@
    </div>
    @*<button id="randomizeData">Randomize Data</button>*@
    <ul>
        <li>@Html.ActionLink("DashBoard", "DoughnutChart", "DashBoard")</li>
        </ul>
</body>

</html>
